################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.out
/.vs
/.build/x64-debug
/bin/x64/debug
